<?xml version="1.0"?>
<configuration scan="true">
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>../logs/tsc-admin.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>../logs/tsc-admin-%d{yyyy-MM-dd}.gz
			</FileNamePattern>
			<MaxHistory>60</MaxHistory>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%logger{36}] [%msg]%n</Pattern>
		</layout>
	</appender>
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>[%d{yyyy-MM-dd HH:mm:ss.SSS}] [%thread] [%-5level] [%logger{36}] [%msg]%n
			</Pattern>
		</layout>
	</appender>

	<logger name="com.wsy">
		<level value="DEBUG" />
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
    <logger name="org.springframework">
        <level value="INFO" />
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </logger>
    
    <logger name="com.alibaba">
        <level value="INFO" />
        <appender-ref ref="FILE" />
        <appender-ref ref="STDOUT" />
    </logger>

</configuration> 
