<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wsy.webseed.dao.SysUserMapper">
    <resultMap id="user" type="com.wsy.webseed.domain.SysUserVo">
        <result property="loginName" column="login_name"/>
        <result property="password" column="password"/>
        <result property="name" column="name"/>
        <result property="sex" column="sex"/>
        <result property="phone" column="phone"/>
        <result property="email" column="email"/>
        <result property="updateTime" column="update_time"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <insert id="save" parameterType="com.wsy.webseed.domain.SysUserVo">
		insert into sys_user(login_name,password,name,sex,phone,email,update_time,create_time)
		VALUES (#{loginName},#{password},#{name},#{sex},#{phone},#{email},now(),now())
	</insert>

    <update id="upd" parameterType="com.wsy.webseed.domain.SysUserVo">
        update sys_user SET update_time = now()
        <if test="loginName != null">,login_name = #{loginName}</if>
        <if test="name != null">,name = #{name}</if>
        <if test="sex != null">,sex = #{sex}</if>
        <if test="phone != null">,phone = #{phone}</if>
        <if test="email != null">,email = #{email}</if>
        where id = #{id}
    </update>

    <delete id="del" parameterType="long">
		DELETE from sys_user where id = #{id}
	</delete>

    <select id="query" resultMap="user" parameterType="map">
        select *from sys_user where 1=1
        <if test="loginName != null">and login_name = #{loginName}</if>
        <if test="name != null">and name = #{name}</if>
        <if test="sex != null">and sex = #{sex}</if>
        <if test="phone != null">and phone = #{phone}</if>
        <if test="email != null">and email = #{email}</if>
        <if test="createTime != null">and create_time = #{createTime}</if>
        order by update_time,create_time
    </select>

    <select id="queryCount" resultType="java.lang.Integer" parameterType="map">
        select count(1) from sys_user where 1=1
        <if test="loginName != null">and login_name = #{loginName}</if>
        <if test="name != null">and name = #{name}</if>
        <if test="sex != null">and sex = #{sex}</if>
        <if test="phone != null">and phone = #{phone}</if>
        <if test="email != null">and email = #{email}</if>
        <if test="createTime != null">and create_time = #{createTime}</if>
    </select>
</mapper>